:root {
    /*override by code when applying settings*/
    --nevysha-margin-left: 175px;
    --nevysha-menu-fix-top-height-less: 1px;
}
:root, .dark {
    /*--nevysha-gradiant-1: #8777a1;*/
    /*--nevysha-gradiant-2: #00adb5;*/
    /*--nevysha-gradiant-3: #f98f69;*/
    /*--nevysha-gradiant-4: #ea638c;*/
    --nevysha-gradiant-1: rgba(101,0,94,1);
    --nevysha-gradiant-2: rgb(28 28 28);

    --body-background-fill: rgba(255, 255, 255, 0) !important;

    /*primary button (ie "Generate")*/
    --button-primary-background-fill: var(--primary-500);
    /*--input-background-fill: #ffffffc4;*/
    /*--input-background-fill-focus: var(--secondary-500);*/
    /*--input-background-fill-hover: var(--input-background-fill);*/

    /*--secondary-tabs-background-color: #ffffff75;*/
    --tab-nav-background-color: #262626ad;
    --tab-nav-background-color-selected: var(--input-background-fill);
    /*--footer-text-color: #262626;*/
    /*--btn-background-color: #549cdb;*/

    /*--block-title-text-color: #0a0a0a;*/
    /*--neutral-800: #0a0a0a;*/
    /*--body-text-color: #0a0a0a;*/
    /*--border-color-primary: #5050505e;*/
    /*--panel-background-fill: #11182752;*/

    /*--button-primary-border-color: var(--primary-500);*/
    /*--button-primary-text-color: white;*/
    /*--secondary-text-color: #2c2c2c;*/
    /*--input-border-color: #a1a1a1;*/

    --vertical-line-bg-color: #ffffff59;

    --checkbox-background-color: var(--nevysha-dark);

    --button-border-width: 0px;
    --tabmenu-button-color: #ffffff;

    --nevysha-dark: #1c1c1c;
    --nevysha-light-dark: #292a2e;
    --nevysha-white: #caccce;
    --nevysha-input-border-color: hsl(214deg 5% 30%);

    --nevysha-color2: #f0a6caff;
    --nevysha-color3: #efc3e6ff;
    --nevysha-color4: #f0e6efff;

    --main-tabs-background-color: #14141485;
    --background-fill-primary: var(--nevysha-light-dark);

    --ae-slider-bg-overlay: repeating-linear-gradient( 90deg, transparent, transparent max(3px, calc(0.671141% - 2px)), var(--ae-input-border-color) max(3px, calc(0.671141% - 2px)), var(--ae-input-border-color) max(4px, calc(0.671141% + 0px)) );
    --ae-subgroup-input-bg-color: hsl(225deg 6% 13%);
    --ae-primary-color: hsl(199deg 60% 60%);

    --ae-input-border-color: hsl(214deg 5% 30%);
    --ae-panel-border-radius: 0px;
    --ae-input-bg-color: hsl(225deg 6% 13%);
    --ae-input-color: hsl(210deg 4% 80%);

    --primary-50: var(--nevysha-color4);
    --primary-100: var(--nevysha-color4);
    --primary-200: var(--nevysha-color3);
    --primary-300: var(--nevysha-color3);
    --primary-400: var(--nevysha-light-dark);
    --primary-500: var(--nevysha-light-dark);
    --primary-600: var(--nevysha-dark);
    --primary-700: var(--nevysha-dark);
    --primary-800: var(--nevysha-dark);
    --primary-900: var(--nevysha-dark);
    --primary-950: var(--nevysha-dark);

    --secondary-50: var(--nevysha-color4);
    --secondary-100: var(--nevysha-color4);
    --secondary-200: var(--nevysha-color3);
    --secondary-300: var(--nevysha-color3);
    --secondary-400: var(--nevysha-light-dark);
    --secondary-500: var(--nevysha-light-dark);
    --secondary-600: var(--nevysha-dark);
    --secondary-700: var(--nevysha-dark);
    --secondary-800: var(--nevysha-dark);
    --secondary-900: var(--nevysha-dark);
    --secondary-950: var(--nevysha-dark);

    --neutral-50: #f9fafb;
    --neutral-100: #f3f4f6;
    --neutral-200: #e5e7eb;
    --neutral-300: #d1d5db;
    --neutral-400: #9ca3af;
    --neutral-500: #6b7280;
    --neutral-600: var(--nevysha-light-dark);
    --neutral-700: var(--nevysha-light-dark);
    --neutral-800: var(--nevysha-light-dark);
    --neutral-900: var(--nevysha-light-dark);
    --neutral-950: var(--nevysha-light-dark);

    --slider-color: var(--nevysha-dark);
    --button-secondary-background-fill: var(--nevysha-dark);
    --button-secondary-background-fill-hover: var(--nevysha-dark);
    --checkbox-border-color: var(--nevysha-white);



    /*default dark*/
    --body-text-color: var(--neutral-100);
    --color-accent-soft: var(--neutral-700);
    --background-fill-secondary: var(--neutral-900);
    --border-color-accent: var(--neutral-600);
    --border-color-primary: var(--neutral-700);
    --link-text-color-active: var(--secondary-500);
    --link-text-color: var(--secondary-500);
    --link-text-color-hover: var(--secondary-400);
    --link-text-color-visited: var(--secondary-600);
    --body-text-color-subdued: var(--neutral-400);
    --color-accent: var(--primary-500);
    --shadow-drop: rgba(0,0,0,0.05) 0px 1px 2px 0px;
    --shadow-drop-lg: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-inset: rgba(0,0,0,0.05) 0px 2px 4px 0px inset;
    --block-background-fill: var(--neutral-800);
    --block-label-border-color: var(--nevysha-input-border-color);
    --block-label-text-color: var(--neutral-200);
    --block-title-text-color: var(--neutral-200);
    --checkbox-background-color-selected: var(--secondary-600);
    --checkbox-border-color-focus: var(--secondary-500);
    --checkbox-border-color-hover: var(--neutral-600);
    --checkbox-border-color-selected: var(--secondary-600);
    --checkbox-label-background-fill: linear-gradient(to top, var(--neutral-900), var(--neutral-800));
    --checkbox-label-background-fill-hover: linear-gradient(to top, var(--neutral-900), var(--neutral-800));
    --error-background-fill: var(--background-fill-primary);
    --error-text-color: #ef4444;
    --input-background-fill: var(--nevysha-dark);
    --input-background-fill-focus: var(--secondary-600);
    --input-background-fill-hover: var(--input-background-fill);
    --input-border-color-focus: var(--neutral-700);
    --input-placeholder-color: var(--neutral-500);
    --input-shadow-focus: 0 0 0 var(--shadow-spread) var(--neutral-700), var(--shadow-inset);
    --stat-background-fill: linear-gradient(to right, var(--primary-400), var(--primary-600));
    --table-border-color: var(--neutral-700);
    --table-even-background-fill: var(--neutral-950);
    --table-odd-background-fill: var(--neutral-900);
    --button-cancel-background-fill: linear-gradient(to bottom right, #dc2626, #b91c1c);
    --button-cancel-background-fill-hover: linear-gradient(to bottom right, #dc2626, #dc2626);
    --button-cancel-border-color: #dc2626;
    --button-cancel-border-color-hover: var(--button-cancel-border-color);
    --button-cancel-text-color: white;
    --button-cancel-text-color-hover: var(--button-cancel-text-color);
    --button-primary-background-fill-hover: linear-gradient(to bottom right, var(--primary-500), var(--primary-500));
    --button-primary-border-color: var(--primary-500);
    --button-primary-text-color: white;
    --button-primary-text-color-hover: var(--button-primary-text-color);
    --button-secondary-border-color: var(--neutral-600);
    --button-secondary-text-color: white;
    --button-secondary-text-color-hover: var(--button-secondary-text-color);


    --shadow-spread: 1px;
    --block-border-color: var(--border-color-primary);
    --block_border_width: None;
    --block-info-text-color: var(--body-text-color-subdued);
    --block-label-background-fill: var(--background-fill-secondary);

    --block_label_border_width: None;

    --block_shadow: None;
    --block_title_background_fill: None;
    --block_title_border_color: None;
    --block_title_border_width: None;

    --panel-background-fill: var(--background-fill-secondary);
    --panel-border-color: var(--border-color-primary);
    --panel_border_width: None;
    --checkbox-background-color-focus: var(--checkbox-background-color);
    --checkbox-background-color-hover: var(--checkbox-background-color);

    --checkbox-border-width: var(--input-border-width);
    --checkbox-label-background-fill-selected: var(--checkbox-label-background-fill);
    --checkbox-label-border-color: var(--border-color-primary);
    --checkbox-label-border-color-hover: var(--checkbox-label-border-color);
    --checkbox-label-border-width: var(--input-border-width);
    --checkbox-label-text-color: var(--body-text-color);
    --checkbox-label-text-color-selected: var(--checkbox-label-text-color);

    --error-border-color: var(--border-color-primary);
    --error_border_width: None;

    --input-border-color: var(--border-color-primary);
    --input-border-color-hover: var(--input-border-color);
    --input_border_width: None;
    --input_shadow: None;
    --loader_color: None;
    --slider_color: None;
    --table-row-focus: var(--color-accent-soft);
    --button-primary-border-color-hover: var(--button-primary-border-color);
    --button-secondary-border-color-hover: var(--button-secondary-border-color);
    --spacing-xxs: 1px;
    --spacing-xs: 2px;
    --spacing-sm: 3px;
    --spacing-md: 6px;
    --spacing-lg: 4px;
    --spacing-xl: 10px;
    --spacing-xxl: 16px;
    --radius-xxs: 1px;
    --radius-xs: 2px;
    --radius-sm: 0;
    --radius-md: 6px;
    --radius-lg: 2px !important;
    --radius-xl: 12px;
    --radius-xxl: 22px;
    --text-xxs: 9px;
    --text-xs: 10px;
    --text-sm: 12px;
    --text-md: 12px;
    --text-lg: 12px;
    --text-xl: 22px;
    --text-xxl: 26px;
    --font: 'Source Sans Pro', 'ui-sans-serif', 'system-ui', sans-serif;
    --font-mono: 'IBM Plex Mono', 'ui-monospace', 'Consolas', monospace;
    --body-text-size: var(--text-md);
    --body-text-weight: 400;
    --embed-radius: var(--radius-lg);
    --block-border-width: 1px;
    --block-info-text-size: var(--text-sm);
    --block-info-text-weight: 400;
    --block-label-border-width: 1px;
    --block-label-margin: 0;
    --block-label-padding: var(--spacing-sm) var(--spacing-lg);
    --block-label-radius: calc(var(--radius-lg) - 1px) 0 calc(var(--radius-lg) - 1px) 0;
    --block-label-right-radius: 0 calc(var(--radius-lg) - 1px) 0 calc(var(--radius-lg) - 1px);
    --block-label-text-size: var(--text-sm);
    --block-label-text-weight: 400;
    --block-padding: var(--spacing-xl) calc(var(--spacing-xl) + 2px);
    --block-radius: var(--radius-lg);
    --block-shadow: var(--shadow-drop);
    --block-title-background-fill: none;
    --block-title-border-color: none;
    --block-title-border-width: 1px;
    --block-title-padding: 0;
    --block-title-radius: none;
    --block-title-text-size: var(--text-md);
    --block-title-text-weight: 400;
    --container-radius: var(--radius-lg);
    --form-gap-width: 1px;
    --layout-gap: var(--spacing-xxl);
    --panel-border-width: 0;
    --section-header-text-size: var(--text-md);
    --section-header-text-weight: 400;
    --checkbox-border-radius: var(--radius-sm);
    --checkbox-label-gap: var(--spacing-lg);
    --checkbox-label-padding: var(--spacing-md) calc(2 * var(--spacing-md));
    --checkbox-label-shadow: var(--shadow-drop);
    --checkbox-label-text-size: var(--text-md);
    --checkbox-label-text-weight: 400;
    --checkbox-check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    --radio-circle: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    --checkbox-shadow: var(--input-shadow);
    --error-border-width: 1px;
    --input-border-width: 1px;
    --input-padding: var(--spacing-xl);
    --input-radius: var(--radius-lg);
    --input-shadow: 0 0 0 var(--shadow-spread) transparent, var(--shadow-inset);
    --input-text-size: var(--text-md);
    --input-text-weight: 400;
    --loader-color: var(--color-accent);
    --prose-text-size: var(--text-md);
    --prose-text-weight: 400;
    --prose-header-text-weight: 600;
    --table-radius: var(--radius-lg);
    --button-large-padding: 2px;
    --button-large-radius: var(--radius-lg);
    --button-large-text-size: var(--text-lg);
    --button-large-text-weight: 600;
    --button-shadow: var(--shadow-drop);
    --button-shadow-active: var(--shadow-inset);
    --button-shadow-hover: var(--shadow-drop-lg);
    --button-small-padding: var(--spacing-sm) calc(2 * var(--spacing-sm));
    --button-small-radius: var(--radius-lg);
    --button-small-text-size: var(--text-md);
    --button-small-text-weight: 400;
    --button-transition: none;
}

.nevysha-light {
    --nevysha-gradiant-1: rgba(101,0,94,1);
    --nevysha-gradiant-2: #fefefe;

    --nevysha-white: #000000;
    --nevysha-dark: #fefefe;
    --nevysha-light-dark: #efefef;
    --neutral-50: var(--nevysha-white);
    --neutral-100: var(--nevysha-white);
    --neutral-200: var(--nevysha-white);
    --neutral-400: var(--nevysha-white);
    --neutral-600: var(--nevysha-light-dark);
    --neutral-700: var(--nevysha-light-dark);
    --neutral-800: var(--nevysha-light-dark);
    --neutral-900: var(--nevysha-light-dark);
    --neutral-950: var(--nevysha-light-dark);

    --ae-slider-bg-overlay: repeating-linear-gradient( 90deg, transparent, transparent max(3px, calc(0.671141% - 2px)), var(--ae-input-border-color) max(3px, calc(0.671141% - 2px)), var(--ae-input-border-color) max(4px, calc(0.671141% + 0px)) );
    --ae-subgroup-input-bg-color: hsl(225deg 6% 13%);
    --ae-primary-color: hsl(199deg 60% 60%);
    --ae-input-border-color: hsl(0deg 0% 84.25%);
    --ae-input-color: hsl(0, 0%, 0%);
    --ae-input-bg-color: hsl(0, 0%, 100%);
    --button-secondary-background-fill: var(--nevysha-dark);
    --block-label-background-fill: var(--background-fill-secondary);
    --checkbox-label-background-fill-hover: linear-gradient(to top, var(--neutral-900), var(--neutral-800));

    --vertical-line-bg-color: #18181859;
    --checkbox-background-color: var(--nevysha-dark);
    --checkbox-background-color-focus: var(--checkbox-background-color);
    --checkbox-label-background-fill: linear-gradient(to top, var(--neutral-900), var(--neutral-800));
    --checkbox-label-background-fill-selected: var(--checkbox-label-background-fill);
    --checkbox-label-text-color: var(--body-text-color);
    --checkbox-label-text-color-selected: var(--checkbox-label-text-color);
    --background-fill-secondary: var(--neutral-900);
    --panel-background-fill: var(--background-fill-secondary);
    --body-text-color-subdued: var(--neutral-400);
    --block-label-text-color: var(--neutral-200);
    --button-secondary-text-color: var(--nevysha-white);
    --button-secondary-text-color-hover: var(--button-secondary-text-color);
    --checkbox-border-color-hover: var(--ae-primary-color);
    --checkbox-background-color-hover: var(--nevysha-dark);
    --button-secondary-background-fill-hover: var(--ae-primary-color);

    --body-background-fill: rgba(255, 255, 255, 0) !important;
    --tab-nav-background-color: var(--nevysha-light-dark);
    --tab-nav-background-color-selected: var(--nevysha-dark);
    --border-color-primary: #7a7a7a;
    --input-border-color: var(--border-color-primary);
    --block-border-color: var(--border-color-primary);
    --input-border-color-focus: var(--ae-primary-color);

    --ae-panel-border-radius: 0px;
    --tabnav-button-color: var(--nevysha-white);

    --input-background-fill: var(--nevysha-dark);
    --body-text-color: var(--neutral-100);
    --tabmenu-button-color: var(--nevysha-white);
    --background-fill-primary: var(--nevysha-light-dark);
    /*--border-color-primary: var(--neutral-700);*/
    --block-background-fill: var(--neutral-800);
    --secondary-text-color: var(--nevysha-white);
    --block-title-text-color: var(--neutral-100);
    --main-tabs-background-color: #e5e5e585;
}

.gradio-button.secondary-down:hover {
    background: var(--button-secondary-background-fill-hover);
    color: var(--button-secondary-text-color-hover);
}
.gradio-dropdown ul.options li.item.selected {
    background-color: var(--ae-primary-color) !important;
}
.progressDiv .progress{
    background: var(--ae-primary-color) !important;;
}
/* Show the up/down arrows of number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    position: relative;
}

/* Set up arrow */
input[type="number"]::-webkit-inner-spin-button::before {
    content: '\25b2';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    text-align: center;
    color: red;
    font-size: 10px;
}

/* Set down arrow */
input[type="number"]::-webkit-inner-spin-button::after {
    content: '\25bc';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: red;
    font-size: 10px;
}

.gradio-accordion {
    background-color: var(--nevysha-light-dark) !important;
    border: none !important;
    border-radius: 3px !important;
    color: var(--secondary-text-color) !important;
    margin: 4px 0 4px 0 !important;
}

.gradio-slider input[type=range] {
    align-self: flex-start;
}

.gradio-container.app {
    padding: 2px !important;
}

input[type=range] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: var(--ae-input-bg-color);
    border: 1px solid var(--ae-input-border-color);
    position:relative;
    accent-color: var(--ae-primary-color) !important;
}
input[type=range]::after {
    content: '';
    position: absolute;
    height: 13px;
    background-image: var(--ae-slider-bg-overlay);
    opacity: 0.15;
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 14px;
    -webkit-appearance: none;
    color: var(--ae-primary-color);
    margin-top: -1px;
}
input[type=range]::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb {
    color: var(--ae-primary-color);
    border-radius: 0;
}




.nevysha.nevysha-tabnav {
    display: flex;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    width: 175px;
    background-color: var(--tab-nav-background-color);
    border-bottom: none !important;
}
.nevysha.nevysha-tabnav > .selected {
    background-color: var(--tab-nav-background-color-selected) !important;
}

.nevysha.nevysha-tabnav > button {
    color: var(--tabmenu-button-color);
}

#tabs > .nevysha.tabitem {
    margin-left: calc(var(--nevysha-margin-left) + 10px);
    background-color: var(--main-tabs-background-color);
    border: none;
    border-radius: 0;
    height: calc(100vh - (16px + 16px + 85px + 20px + var(--nevysha-menu-fix-top-height-less)));
    overflow-y: auto;
}
#tabs > .nevysha.tabitem::-webkit-scrollbar {
    width: 5px;
}
#tabs > .nevysha.tabitem::-webkit-scrollbar-track {
    background-color: transparent;
}
#tabs > .nevysha.tabitem::-webkit-scrollbar-thumb {
    background-color: var(--ae-primary-color);
    border-radius: 20px;
}

.nevysha.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: var(--button-transition);
    padding: var(--size-0-5) var(--size-2);
    text-align: center;

    border: var(--button-border-width) solid var(--button-primary-border-color);
    background: var(--button-primary-background-fill);
    color: var(--button-primary-text-color);

    border-radius: var(--button-large-radius);
    padding: var(--button-large-padding);
    font-weight: var(--button-large-text-weight);
    font-size: var(--button-large-text-size);

    --checkbox-background-color: var(--neutral-800);
}

.nevysha.btn.refresh {
    width: 50px;
    max-width: 50px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    background-color: var(--nevysha-dark);
    display: none;
}

.nevysha.flex1 {
    flex: 1;
    max-width: none !important;;
}

.block.padded:not(.gradio-accordion) {
     padding: 10px !important;
}
.block.padded:not(.gradio-accordion) {
     padding: 10px !important;
}

.nevysha.settings-child {
    background-color: var(--nevysha-light-dark) !important;
    /*padding: 10px !important;*/
}

.gradio-button.tool {
    border-radius: 0 !important;
    border: none !important;
}

#quicksettings {
    width: auto;
    align-items: end;
    gap: 20px;
}

#quicksettings > div.block {
    padding: 0 !important;
}

#quicksettings > .gradio-button.tool {
    height: 33px;
    margin-left: -20px;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nevysha.svg-icon {
    height: 20px;
    fill: var(--nevysha-white);
    margin: 3px 0 3px 0;
}

.nevysha.svg-icon.rotate {
    transform: rotate(315deg);
}

/*footer text*/
/*#footer > div {*/
/*    color: var(--footer-text-color);*/
/*}*/
/*!*versions*!*/
/*#footer > div.versions > span {*/
/*    color: var(--footer-text-color);*/
/*}*/

.token-remove > svg {
    width: 20px;
    height: 20px;
    fill: var(--neutral-50);
}

/*hiding scrollbar*/
html {
    overflow-y: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(330deg, var(--nevysha-gradiant-1) 3%, var(--nevysha-gradiant-2) 38%);
    animation: gradient 35s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;

    display: flex;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 75% 75%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(94 26 145 / 16%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 3.5em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.block {
    padding: 10px !important;
}

.block.padded:not(.gradio-accordion) {
    padding: 0 !important;
}

.block.token-counter span {
    background: var(--nevysha-dark) !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
}

.gradio-group {
    margin-top: 10px !important;
}

button.secondary, button.primary {
    border: 1px solid var(--ae-input-border-color) !important;
    border-radius: var(--ae-panel-border-radius) !important;
    background: var(--ae-input-bg-color) !important;
    color: var(--ae-input-color) !important;
}

/*txt2img tweaks*/

.nevysha.generate-button {
    margin: 0 0 10px 0;
}

.nevysha.settings-wrapper {
    flex: 1;
    margin-top: 15px;
    overflow-y: scroll;
    padding: 0 5px 15px 0;
}
.nevysha.settings-wrapper::-webkit-scrollbar {
    width: 5px;
}

.nevysha.settings-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

.nevysha.settings-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--ae-primary-color);
    border-radius: 20px;
}

.nevysha.txt2img_toprow-wrapper {
    display: flex;
    flex-direction: column;
}

#txt2img_settings, #img2img_settings {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#txt2img_script_container, #img2img_script_container {
    padding: 0 !important;
}
#txt2img_tools, #img2img_tools {
    gap: 0;
}

#txt2img_tools > .form, #img2img_tools > .form {
    gap: 0;
    justify-content: space-between;
}
#txt2img_toprow, #img2img_toprow {
    background-color: var(--nevysha-light-dark) !important;
    padding: 10px !important;
    margin-bottom: 6px;
}

#txt2img_script_container, #img2img_script_container {
    background-color: transparent !important;
}

#tab_txt2img > div,
#tab_img2img > div, #tab_img2img > div > div {
    height: 100%;
}
.settings-gradio-parent {
    height: 100%;
    padding: 10px 0 0 0;
}
#txt2img_results, #img2img_results {
    height: 100%;
}
#txt2img_results > div.gradio-column.gap > div.gradio-group, #img2img_results > div.gradio-column.gap > div.gradio-group {
    display: none;
}
#txt2img_gallery_container, #img2img_gallery_container {
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
}
.nevysha.nevysha-scrollable::-webkit-scrollbar {
    width: 5px;
}

.nevysha.nevysha-scrollable::-webkit-scrollbar-track {
    background-color: transparent;
}

.nevysha.nevysha-scrollable::-webkit-scrollbar-thumb {
    background-color: var(--ae-primary-color);
    border-radius: 20px;
}

.nevysha.nevysha-scrollable > div > div:nth-child(2) {
    overflow-y: visible;
}

#txt2img_gallery, #img2img_gallery {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#txt2img_gallery > div:nth-child(2), #img2img_gallery > div:nth-child(2) {
    flex: 1;
    min-height: auto !important;
    max-height: none !important;
}
#txt2img_settings,
#img2img_settings,
#txt2img_results,
#img2img_results{
    flex-grow: 1;
    flex-shrink: 0;
}

#txt2img_settings, #img2img_settings {
    flex-basis: 50%;
}

#txt2img_results, #img2img_results {
    flex-basis: 50%;
}




/*image browser*/
#image_browser_tabs_container > :not(:nth-child(-n+2)) {
    background-color: var(--nevysha-light-dark) !important;
}

#tab_settings {
    background-color: var(--nevysha-light-dark) !important;
}


/*img2im*/
#img2img_settings .tabs > :not(:first-child) {
    background-color: var(--nevysha-light-dark) !important;
}


/*draggable*/
.nevysha.resizable-children-container {
    flex-wrap: nowrap;
    width: calc(100% - 33px) !important;
    display: flex;
    flex-direction: row;
}

.vertical-line-wrapper {
    width: 10px !important;
    max-width: 10px !important;
    min-width: 10px !important;
    height: calc(100% - 30px);
    cursor: ew-resize;
    display: flex;
    justify-content: center;
    margin: 15px -10px 0 -10px;
}

.vertical-line {
    width: 2px !important;
    max-width: 2px !important;
    min-width: 2px !important;
    height: 100%;
    cursor: ew-resize;
    background-image: linear-gradient(to bottom, var(--vertical-line-bg-color) 7px, transparent 0);
    background-size: 100% 13px;
}

.gradio-image {
    padding: 0 !important;
}

#img2maskimg {

}
#expendBtn {
    position: absolute;
    bottom: 10px;
    right: 35px;
    z-index: 99999;
}

#img2maskimg > div:nth-child(3) > div > div {
    display: flex;
    justify-content: center;
}

canvas.nevysha {
    inset: auto;
}

.brush > input[type="range"] {
    min-width: 200px;
}
.block.gradio-checkbox {
    margin: 0 !important;
}

.nevysha.settings-nevyui-top > h2 {
    font-size: 1.4em;
    color: var(--body-text-color);
}
.nevysha.settings-nevyui-top > .info {
    color: var(--body-text-color);
}
.nevysha.settings-nevyui-top > .warning {
    font-size: 1.1em;
    margin-top: 5px;
    color: #000000;
    font-weight: bold;
    background-color: #e3cf7e;
    padding: 8px;
    border-radius: 2px;
}
.nevysha.settings-nevyui-bottom > p {
    font-size: 0.8em;
    color: var(--body-text-color);
}


/*fix menu to top*/
.nevysha.nevysha-tabnav.menu-fix-top{
    position: fixed;
    flex-direction: row;
    width: 100%;
    top: 0;
}
.gradio-container.app.menu-fix-top {
    padding-top: 25px !important;
}