:root, .dark {
    --nevysha-gradiant-1: #8777a1;
    --nevysha-gradiant-2: #00adb5;
    --nevysha-gradiant-3: #f98f69;
    --nevysha-gradiant-4: #ea638c;

    --body-background-fill: rgba(255, 255, 255, 0) !important;
    --radius-lg: 2px !important;
    --neutral-50: #f5f5f5;
    --neutral-100: #ececec;
    --neutral-200: #d9d9d9;
    --neutral-300: #bfbfbf;
    --neutral-400: #a6a6a6;
    --neutral-500: #8c8c8c;
    --neutral-600: #737373;
    --neutral-700: #595959;
    --neutral-800: #404040;
    --neutral-900: #262626;
    --neutral-950: #0f0f0f;
    --primary-50: #f2f6f9;
    --primary-100: #d3e4ed;
    --primary-200: #aac8de;
    --primary-300: #72a7cc;
    --primary-400: #458cbf;
    --primary-500: #1b6ea9;
    --primary-600: #11578c;
    --primary-700: #0e4470;
    --primary-800: #0c3555;
    --primary-900: #0a2c43;
    --primary-950: #082536;
    --button-primary-background-fill: linear-gradient(to bottom right, var(--primary-500), var(--primary-600));
    --input-background-fill: #ffffffc4;
    --input-background-fill-focus: var(--secondary-500);
    --input-background-fill-hover: var(--input-background-fill);

    --main-tabs-background-color: #c3c3c347;
    --secondary-tabs-background-color: #ffffff75;
    --tab-nav-background-color: #262626ad;
    --footer-text-color: #262626;
    --btn-background-color: #549cdb;

    --block-title-text-color: #0a0a0a;
    /*--neutral-800: #0a0a0a;*/
    --body-text-color: #0a0a0a;
    --border-color-primary: #5050505e;;

    /*svelte*/
    --button-transition: none;
    --shadow-drop: rgba(0,0,0,0.05) 0px 1px 2px 0px;
    --button-shadow: var(--shadow-drop);
    --input-border-width: 1px;
    --button-border-width: var(--input-border-width);
    --button-primary-border-color: var(--primary-500);
    --button-primary-text-color: white;
    --secondary-text-color: #2c2c2c;
    --input-border-color: #a1a1a1;

    --button-secondary-background-fill: linear-gradient(to bottom right, #195b8c, #256ba5);
    --button-secondary-background-fill-hover: linear-gradient(to bottom right, #195b8c, #195b8c);

    --checkbox-background-color: #ffffffc4;
}

.gradio-accordion {
    background-color: var(--secondary-tabs-background-color) !important;
    border: none !important;
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);*/
    border-radius: 3px !important;
    color: var(--secondary-text-color) !important;
    margin: 4px 0 4px 0 !important;
}

#tabs > div.tab-nav {
    display: flex;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    width: 175px;
    background-color: var(--tab-nav-background-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-bottom: none !important;
}

#tabs > div.tab-nav > button {
    color: #ffffff;
}

#tabs > .nevysha.tabitem {
    margin-left: 185px;
    background-color: var(--main-tabs-background-color);
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    height: calc(100vh - (16px + 16px + 100px + 20px));
    overflow-y: scroll;
}

.nevysha.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: var(--button-transition);
    box-shadow: var(--button-shadow);
    padding: var(--size-0-5) var(--size-2);
    text-align: center;

    border: var(--button-border-width) solid var(--button-primary-border-color);
    background: var(--button-primary-background-fill);
    color: var(--button-primary-text-color);

    border-radius: var(--button-large-radius);
    padding: var(--button-large-padding);
    font-weight: var(--button-large-text-weight);
    font-size: var(--button-large-text-size);

    --checkbox-background-color: var(--neutral-800);
}

.nevysha.btn.refresh {
    width: 50px;
    max-width: 50px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    background-color: var(--btn-background-color);
}

.nevysha.flex1 {
    flex: 1;
    max-width: none !important;;
}

.gradio-button.tool {
    border-radius: 0 !important;
    border: none !important;
}

#quicksettings {
    width: auto;
    align-items: end;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

/*footer text*/
#footer > div {
    color: var(--footer-text-color);
}
/*versions*/
#footer > div.versions > span {
    color: var(--footer-text-color);
}

/*hiding scrollbar*/
html {
    overflow-y: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, var(--nevysha-gradiant-1) 3%, var(--nevysha-gradiant-2) 38%,var(--nevysha-gradiant-3) 68%, var(--nevysha-gradiant-4) 98%);
    animation: gradient 35s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;

    display: flex;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/*txt2img tweaks*/
#tab_txt2img > div {
    height: 100%;
}
#tab_txt2img > div > div.gradio-row {
    height: 100%;
}
#txt2img_results {
    height: 100%;
}
#txt2img_results > div.gradio-column.gap > div.gradio-group {
    display: none;
}
#txt2img_gallery_container {
    flex: 1;
}
#txt2img_gallery {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#txt2img_gallery > div:nth-child(2) {
    flex: 1;
    min-height: auto !important;
    max-height: none !important;
}