#cozy-img-browser-react {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.connexionStatus {
    font-weight: bold;
    text-transform: uppercase;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.browser {
    height: 100%;
    /*overflow-y: scroll;*/
    display: flex;
    flex-wrap: wrap;
    overflow: auto !important;
}

.hackyOffPageElement {
    bottom: -20px;
    display: block;
    height: 10px;
    width: 10px;
}

.image {
    display: flex;
    height: 300px;
    width: 400px;
    flex-direction: row;
    padding: 2px;
}
.image-wrapper {
    position: relative;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
}
.cozy-nest-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover; /* Maintain aspect ratio while covering the entire container */
}
.image-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 12px;
    padding: 0 3px;
    border: 1px solid var(--ae-input-border-color);
    background: var(--ae-input-bg-color);
    color: var(--ae-input-color);
    gap: 5px;
}

.infoModal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    border: 1px solid var(--ae-input-border-color);
    background: var(--ae-input-bg-color);
    color: var(--ae-input-color);
    display: flex;
}

.infoModal > .image-wrapper {
    width: 80%;
}

.infoModal > .image-wrapper > img {
    object-fit: contain;
}

.infoModal > .image-info {
    width: 20%
}

.blocInfo, textarea {
    display: block;
    position: relative;
    outline: none!important;
    box-shadow: var(--input-shadow);
    border: var(--input-border-width) solid var(--input-border-color);
    border-color: var(--input-border-color)!important;
    border-radius: var(--input-radius)!important;
    background: var(--input-background-fill)!important;
    background-color: var(--input-background-fill)!important;
    width: 100%;
    color: var(--body-text-color)!important;
    font-weight: var(--input-text-weight)!important;
    font-size: var(--input-text-size)!important;
    line-height: var(--line-sm)!important;
    font-family: monospace!important;
}

textarea {
    resize: none;
    padding: 8px;
}

.cnib-title {
    margin-bottom: 10px;
}

.beta-emphasis {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    /* margin-bottom: 6px; */
    position: absolute;
    color: #e32f4e;
     left: 2px;
    top: 2px;
}

.cnib-button {
    width: 100%;
}

input[type="radio"] {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: middle;
    appearance: none;
    border-width: 1px;
    border-color: #6b7280;
    background-origin: border-box;
    padding: 0;
    width: 1rem;
    height: 1rem;
    color: #2563eb;
    user-select: none;
    --ring-color: transparent;
    position: relative;
    box-shadow: var(--checkbox-shadow);
    border: var(--checkbox-border-width) solid var(--checkbox-border-color);
    border-radius: var(--radius-full);
    background-color: var(--checkbox-background-color) !important;
    line-height: var(--line-sm);
    margin-right: 4px;
}

.cozy-radio-label {
    text-overflow: clip;
    white-space: nowrap;
}

.cozy-nest-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}